:root {
    --color-blue: #C1CEDC;
    --bg-gray: #f2f2f2;
    --bg-white: #fff;
}
.achc-body-container {
margin: 25px 50px;
}
.achc-body-container p {
line-height: 1.4;
}
.achc-body-container h2 {
font-size: xx-large;
}
.achc-box-cc:nth-child(odd){
    padding: 25px;
border-top: 5px solid var(--color-blue);
background: var(--bg-gray);
}
.achc-box-cc:nth-child(even){
    padding: 25px;
border-top: 5px solid var(--color-blue);
background: var(--bg-white);
}

.box-title-container {
display: flex;
justify-content: space-between;
align-items: center;
}

.ico{
text-decoration: none;
padding: 7px 40px;
margin: 20px auto;
}
.ico:before{
content: '';
position:absolute;
width:20px;
height:20px;
margin-left:-20px;
}
.map-marker { 
background:url(../img/ICON-1.png);
background-size: auto;
background-repeat: no-repeat;
height: 20px;
}
.monitor { 
background:url(../img/ICON-2.png);
background-size: auto;
background-repeat: no-repeat;
}
.phone { 
background:url(../img/ICON-3.png);
background-size: auto;
background-repeat: no-repeat;
}
.mail { 
background:url(../img/ICON-4.png);
background-size: auto;
background-repeat: no-repeat;
}
.ribbon { 
background:url(../img/ICON-5.png);
background-size: auto;
background-repeat: no-repeat;
}
